@model AprendaHtmlAction.Models.Aluno
<table class="table table-bordered table-responsive table-striped">
    <tr>
        <th>Codigo</th>
        <th>Nome</th>
    </tr>
    <tr><td>@Model.Codigo</td><td>@Model.Nome</td></tr>
</table>


