@model AprendaHtmlAction.Models.Heroi
<table class="table table-striped table-responsive">
    <tr><th>Codigo</th><th>Nome</th><th>Super Poder</th></tr>
    <tr><td>@Model.Codigo</td><td>@Model.Nome</td><td>@Model.SuperPoder</td></tr>
</table>
